<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxz.mapper.ProjectMapper" >
  <!--开启二级缓存-->
<!--  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
  <resultMap id="BaseResultMap" type="com.xxz.bean.Project" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_moeny" property="pMoeny" jdbcType="VARCHAR" />
    <result column="p_progress" property="pProgress" jdbcType="VARCHAR" />
    <result column="p_owner" property="pOwner" jdbcType="VARCHAR" />
    <result column="cp_id" property="cpId" jdbcType="INTEGER" />
    <result column="pb_id" property="pbId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    p_id, p_name, p_moeny, p_progress, p_owner, cp_id, pb_id, startTime, endTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xxz.bean.ProjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
<!--    <if test="orderByClause != null" >-->
<!--      order by ${orderByClause}-->
<!--    </if>-->
order by p_id desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xxz.bean.ProjectExample" >
    delete from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xxz.bean.Project" >
    insert into project (p_id, p_name, p_moeny, 
      p_progress, p_owner, cp_id, 
      pb_id)
    values (#{pId,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{pMoeny,jdbcType=VARCHAR}, 
      #{pProgress,jdbcType=VARCHAR}, #{pOwner,jdbcType=VARCHAR}, #{cpId,jdbcType=INTEGER}, 
      #{pbId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xxz.bean.Project" useGeneratedKeys="true" keyProperty="pId">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="pMoeny != null" >
        p_moeny,
      </if>
      <if test="pProgress != null" >
        p_progress,
      </if>
      <if test="pOwner != null" >
        p_owner,
      </if>
      <if test="cpId != null" >
        cp_id,
      </if>
      <if test="pbId != null" >
        pb_id,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pMoeny != null" >
        #{pMoeny,jdbcType=VARCHAR},
      </if>
      <if test="pProgress != null" >
        #{pProgress,jdbcType=VARCHAR},
      </if>
      <if test="pOwner != null" >
        #{pOwner,jdbcType=VARCHAR},
      </if>
      <if test="cpId != null" >
        #{cpId,jdbcType=INTEGER},
      </if>
      <if test="pbId != null" >
        #{pbId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=CHAR},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xxz.bean.ProjectExample" resultType="java.lang.Integer" >
    select count(*) from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project
    <set >
      <if test="record.pId != null" >
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.pName != null" >
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.pMoeny != null" >
        p_moeny = #{record.pMoeny,jdbcType=VARCHAR},
      </if>
      <if test="record.pProgress != null" >
        p_progress = #{record.pProgress,jdbcType=VARCHAR},
      </if>
      <if test="record.pOwner != null" >
        p_owner = #{record.pOwner,jdbcType=VARCHAR},
      </if>
      <if test="record.cpId != null" >
        cp_id = #{record.cpId,jdbcType=INTEGER},
      </if>
      <if test="record.pbId != null" >
        pb_id = #{record.pbId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project
    set p_id = #{record.pId,jdbcType=INTEGER},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_moeny = #{record.pMoeny,jdbcType=VARCHAR},
      p_progress = #{record.pProgress,jdbcType=VARCHAR},
      p_owner = #{record.pOwner,jdbcType=VARCHAR},
      cp_id = #{record.cpId,jdbcType=INTEGER},
      pb_id = #{record.pbId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxz.bean.Project" >
    update project
    <set >
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pMoeny != null" >
        p_moeny = #{pMoeny,jdbcType=VARCHAR},
      </if>
      <if test="pProgress != null" >
        p_progress = #{pProgress,jdbcType=VARCHAR},
      </if>
      <if test="pOwner != null" >
        p_owner = #{pOwner,jdbcType=VARCHAR},
      </if>
      <if test="cpId != null" >
        cp_id = #{cpId,jdbcType=INTEGER},
      </if>
      <if test="pbId != null" >
        pb_id = #{pbId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=CHAR},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=CHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxz.bean.Project" >
    update project
    set p_name = #{pName,jdbcType=VARCHAR},
      p_moeny = #{pMoeny,jdbcType=VARCHAR},
      p_progress = #{pProgress,jdbcType=VARCHAR},
      p_owner = #{pOwner,jdbcType=VARCHAR},
      cp_id = #{cpId,jdbcType=INTEGER},
      pb_id = #{pbId,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>




  <delete id="deletePaymentbackById">
    delete from payment_back where pb_id = #{id}
  </delete>

  <delete id="deleteContractById">
    delete from contract where ct_id = #{ctId}
  </delete>
</mapper>