<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxz.mapper.RoleMapper" >

    <select id="selectAllRole" resultType="com.xxz.bean.Role">
        SELECT *
        FROM role
        WHERE r_name != '系统管理员'
    </select>

    <insert id="insertRole" parameterType="com.xxz.bean.Role">
        INSERT INTO role(r_name,r_remark)
        VALUES (#{rName},#{rRemark})
    </insert>

    <delete id="deleteRoleById" parameterType="string">
        DELETE FROM role
        WHERE r_id = #{id}
    </delete>

    <select id="selectRoleById" parameterType="string" resultType="com.xxz.bean.Role">
        SELECT *
        FROM role
        WHERE r_id = #{id}
    </select>

    <update id="updateRoleById">
        UPDATE role
        SET r_name = #{rName},r_remark = #{rRemark}
        WHERE r_id = #{rId}
    </update>

    <select id="selectRoleCountByEmpId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM emp_role
        WHERE e_id = #{empId}
    </select>

    <delete id="deleteRoleListByEmpId" parameterType="string">
        DELETE FROM emp_role
        WHERE e_id = #{empId}
    </delete>





    <insert id="insertRoleList">
        INSERT INTO emp_role(e_id,r_id)
        VALUES
        <foreach collection="list" item="empRole" separator=",">
            (#{empRole.eId},#{empRole.rId})
        </foreach>
    </insert>







    <select id="selectAllRoleByEmpId" parameterType="string" resultType="com.xxz.bean.EmpRole">
        SELECT *
        FROM emp_role
        WHERE e_id = #{empId}
    </select>

    <select id="selectAllRoleOfMenu" resultType="com.xxz.bean.vo.MenuVo">
        SELECT cur_code AS id,parent_code AS pId,m_name AS name
        FROM menu
    </select>

    <select id="selectAllRoleOfMenuByRoleId" parameterType="string" resultType="com.xxz.bean.vo.MenuVo">
        SELECT m.parent_code AS pId,m.cur_code AS id,m.m_name AS `name`
        FROM role_menu rm
        JOIN menu m
        ON rm.m_id = m.m_id
        WHERE rm.r_id = #{roleId}
    </select>

    <select id="selectRoleOfMenuByRoleId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM role_menu
        WHERE r_id = #{roleId}
    </select>

    <delete id="deleteRoleOfMenuByRoleId" parameterType="string">
        DELETE FROM role_menu
        WHERE r_id = #{roleId}
    </delete>

    <insert id="insertRoleOfMenu">
        INSERT INTO role_menu(r_id,m_id)
        VALUES
        <foreach collection="list" item="roleMenu" separator=",">
            (#{roleMenu.rId},#{roleMenu.mId})
        </foreach>
    </insert>

    <select id="selectMenuIdByCurCode" parameterType="string" resultType="string">
        SELECT m_id
        FROM menu
        WHERE cur_code = #{curCode}
    </select>


    <select id="selectAllMenuByEmpId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT m.cur_code
        FROM employee e
        JOIN emp_role er
        ON e.e_id = er.e_id
        JOIN role r
        ON er.r_id = r.r_id
        JOIN role_menu rm
        ON r.r_id = rm.r_id
        JOIN menu m
        ON rm.m_id = m.m_id
        WHERE e.e_id = #{empId}

    </select>

</mapper>